body{font-family:"Roboto",sans-serif;
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        background-color:#ffffff;

}
h1,h2,h3,h4,h5,h6,p,ul{
margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

* {
margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

img{display: block;
    min-width: 100%;
    height: auto;
}

p{font-style: normal}
.col-title{color:#4D5AE5;
font-family: raleway,sans-serif;
font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase
}



.logo-title{background-color: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
    ),
    url(../images/peombx1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
      /* max-width: 1440px; */
    max-width: 320px;
    margin: 0 auto;
        padding-top: 72px;
        padding-bottom: 72px;
        display: flex;
    height: 432px;
    }
    @media screen and (-webkit-min-devise-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
        .logo-title {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                        rgba(46, 47, 66, 0.7)),
                    url(../images/peombx2.jpg);
        }
    } 

.team{background-color: #F4F4FD;
    /* padding-top: 120px;
    padding-bottom: 120px; */
    padding-top: 96px;
        padding-bottom: 96px;
}

.list-title-b {   
    /* padding-bottom: 48px; */
        /* margin: 0 auto; */
        background-color: transparent;

        max-width: 216px;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: #fff;
        text-align: center;
        margin-bottom: 72px;
        margin-left: auto;
        margin-right: auto;
    

}
/* ---------header--------- */
.button-a{
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor:pointer;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    display: block;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.button-a:focus{
    background-color: #404BBF;
    
}

.button-a:hover{
    background-color: #404BBF;


}

/* .all{
    display: flex;
        align-items: center;
        padding: 832px, 24px, 347px, 24px;
} */
.hewn{font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
display: flex;
    gap: 40px;
    
}
.container-hed{
    display: flex;
align-items: center;
justify-content: space-between;
}

.hed {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
display: block;
padding-right: 40px;
padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        position: relative;
        color: #404bbf;
}

        .duo {
            color: #2e2f42;
        }


.navigation{display: flex;
    align-items: center;
}
.menu{display: flex;
    align-items: center;
    gap: 40px;
}
    .hed:hover,.hed:focus{color: #404bbf;}


.ad-nav{font-family: "Roboto", sans-serif;
    
    font-style: normal;

    margin-left: auto;
    display: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    
}

.ad-nav:hover{
        color: #404bbf;
    }
.ad-nav:focus{color:#404bbf;
}

.studio-spa{
    color: #2e2f42;
}

.studio::after {
    content: '';
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    position: relative;
    position: absolute;

}

.menu{display: none;

}

.header{border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
    }


.menu-open-btn{  padding: 0;
    line-height: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;

}
/* --------mobile----------- */
.mob-menu {width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background: #fff;
    padding-top: 24px;
    padding-right: 24px;
    padding-bottom: 40px;
    padding-left: 16px;
    display: flex;flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.mob-modal-close-btn {position: absolute;
    top: 24px; 
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background-color: #e7e9fc;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) , border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }


.mob-modal-close-btn:hover,
.mob-modal-close-btn:focus {
    background-color: #404BBF;
    border: none;
}


.mob-modal-close-icon { transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-modal-close-btn:hover>.mob-modal-close-icon,
.mob-modal-close-btn:focus>.mob-modal-close-icon {
    fill: #ffff;
}

.mob-nav-link-li:not(:last-child) {
    margin-bottom: 40px;
}


.mob-nav-link { font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;

}
.studio-mob { color: #404bbf;
}

.mob-nav-link-list{
margin-bottom:0 auto;

}

.mob-address-link-list{margin-bottom: 48px;
margin-top: 168px;
}


.mob-address {margin-bottom: 48px;

    font-style: normal;
}

.mob-address-link:not(:last-child) {
    margin-bottom: 24px;
}

.mob-address-link-tel { font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
color: #434455;
    display: flex;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.mob-logo-part {
    color: #4d5ae5;
}

.mob-address-link-mailto {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}

.mob-icon-list {    display: flex;
    gap: 40px;
    padding-top: 48px;
}

.icon-item{ width: 40px;
    height: 40px;}

.icon-link{ width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
    display: flex;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-icon{ fill: #f4f4fd;
}
.icon-link:hover,.icon-link:focus{
    background-color: #404bbf;
}

/* --------------------------------------------------- */


.contact{ 
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    /* padding-right: 40px; */
    /* padding: 24px 0; */
    display: flex;
    gap: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        position: relative;
        color: #404bbf;
}

.contact-li{
display: flex;
gap: 40px;
}

.contact:hover,.contact:focus{color: #404bbf;
}
.contact{color: #434455;
display: flex;
gap: 40px;
}

a{text-decoration: none;}

ul{
list-style: none; 
}
.header {border-bottom: 1px solid #e7e9fc;
}
/* container             --------------- */
.container-hed{
    display: flex;
    padding: 0 15px;
    width: 1158px;
    margin: 0 auto;
    align-items: center;
}
/* ----------------------------- */
.container{ width: 320px;
padding-left: 16px;
padding-right: 16px;
margin: 0 auto;
}
/* margin-left: auto;
margin-right: auto; */
/* width: 1158px;
padding-left: 15px;
padding-right: 15px; */
.web-studio{font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color:#4d5ae5;
}
.web-studio:hover.web-studio:focus{color: #404bbf;
}
.weblog {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 17px 0;
}

/*------------ main----------- */
.list-title-aq{font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

/* section2 */
.main-skills{
padding-top: 96px;
padding-bottom: 96px;

}

.all{display: flex;
gap: 24px;
}
.main-all{
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.features-list{
/* width: calc((100% - 72px) / 4); */
width: 100%;

}
.visually-hidden{
position: absolute;
width: 1px;
height: 1px;
margin:-1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip:rect(0 0 0 0);
overflow: hidden;

}
.family{padding: 32px 0;
    text-align: center;
        /* max-width: 296px; */
}

.all-team{display: flex;
    flex-direction: column;
    gap: 72px;
    list-style-type: none;
    padding: 0;
    margin-right: auto;
    margin-left: auto;}

.photo-team{background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
        flex-basis: calc((100% - 24px) / 2); 
    
    box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.list-title-team{font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;

}




.team-image{
    width: 100%;
}


.team-icon {
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
    /* padding-right: 24px; */

}

.team-icon-soc {
    width: 40px;
    height: 40px;

}

.team-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
    display: flex;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-link:hover,
.team-link:focus {
    background-color: #404bbf;
} 

.con-link{
    fill:#f4f4fd;
}

.icon-features {display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
    display: none;
}
.features-title{font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
margin-bottom: 8px;
/* margin-top: 8px; */
}

.list-title{
    /* line-height: 1.2;
    color: #2e2f42;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
} */
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}
.p-text-f{font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

    .p-text{
        font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
margin-bottom: 8px;
    }
    /* @media(max-width:1157px){
        .p-text{font-weight: 500;}
    } */




.job{
    /* padding-top: 120px;
    padding-bottom: 120px; */
    padding-top: 96px;
padding-bottom: 96px;
}
.app-job{padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

/* .down{display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;

} */


.coll{display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    gap: 48px;
    /* width: calc((100% - 48px) / 3); */
}
.bzz{font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.photo-job{box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
width: 288px;
}

.photo-job:hover{box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);

}

.photo-job:hover .fon-text-job{ transform: translateY(0);
}





/* width: calc((100% - 48px) / 3); */
.image-job{position: relative;
    overflow: hidden;
    width: 288px;
}
.fon-text-job{position: absolute;
    position: absolute;
    top: 0;
    background-color: #4d5ae5;
    height: 100%;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
        flex-direction: column;

}


/* --------footer------- */
.logo-footer{background-color: #2E2F42;
    padding-top: 96px;
    padding-bottom: 96px;
margin-bottom: 16px;
}

.footer-text{
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    width: 288px;
}

.footer-ap{
    justify-content: center;
}

    .studio-spa{color: #2e2f42;
    font-family:raleway,sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color:#2e2f42;
    }
.front{display: inline-block;
    font-family: "Raleway",
    sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;

}


.footer-link{text-align: center;}


/* 
@media(max-width:767px){
    .front { text-align: center;}
} */
.sp-footer{color: #f4f4fd;
    font-family: "Raleway",
            sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

section{
    padding-top: 120px;
    padding-bottom: 120px;
}



.social-title {font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    text-align: center;
}

/* @media(max-width:767px) {
    .social-title{
    text-align: center;}
} */

.social-list {display: flex;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;

}

.social-items {width: 40px;height: 40px;

}

.icon-footer {width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-footer:hover,
.icon-footer:focus{background-color: #31d0aa;
}

.icon-footer-pictures {fill: #f4f4fd;
}

/* @media(max-width:767px){
    .footer-box{margin-top: 72px;}} */
.footer-box{
    width: 320px;
    padding-left: 16px;
    padding-right: 16px;
margin: 0 auto;
/* display: flex;
align-items: baseline; */
        display: flex;
        flex-direction: column;
        gap: 72px;
}
/* 


.footer-input {    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* @media(max-width:767px){
    .footer-input{margin-top: 72px;}
} */

.footer-p {font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
margin-bottom: 16px;
font-weight: 500px;
color: #ffffff;
}

.text-foot{margin-bottom: 16px;
    font-weight: 500;
    color: #ffffff;
text-align: center;
}



.footer-form {    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}


.foot-input{box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border-radius: 4px;
border: 1px solid #ffffff;
    height: 40px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: transparent;
    font-weight: 400;
    font-size: 12px;
line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    width: 264px;

}

.foot-input::placeholder {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
    padding-top: 8px;
        padding-bottom: 8px;
}


.footer-sub-btn {  font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
background-color: #4d5ae5;
border-radius: 4px;
padding: 8px 24px;
border: none;
}

.footer-sub-btn:hover,
.footer-sub-btn:focus {
    background-color: #404bbf;
}

.btn-icon {fill: #f4f4fd;
    margin-left: 16px;
}



.modal-overlay {width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    box-shadow:0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-top: 72px;
        padding-right: 24px;
        padding-left: 24px;
        padding-bottom: 24px;
}

.modal-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(46, 47, 66, 0.4);
    opacity: 0;
        visibility: hidden;
        pointer-events: none;
    /* transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); */

}

.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}


.modal {width: 288px;
    min-height: 
    623px;
    background: #fcfcfc;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    box-shadow:0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-top: 72px;
        padding-right: 24px;
        padding-left: 24px;
        padding-bottom: 24px;

}

.modal-button{position: absolute;
    top: 24px; 
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background-color: #e7e9fc;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) , border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }


.mod-icon {fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mod-icon:hover{fill: #ffffff;
        background-color: #404BBF;
            border: none;
}
.mod-icon:focus{
fill: #ffffff;
    background-color: #404BBF;
        border: none;
}

.modal-button:hover .mod-icon,
.modal-button:focus .mod-icon {
    background-color: #404BBF;
    border: none;
    fill: #ffffff;
}
.modal-button:hover {
    background-color: #404BBF;
    border: none;
        fill: #ffffff;
    }

.modal-button:focus{
        background-color: #404BBF;
            border: none;
    
    fill: #ffffff;

}

.mod-over {font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.form-field {margin-bottom: 8px;
}

.comment{margin-bottom: 16px;
}

.form-label {display: block;
    margin-bottom: 4px;
    font-size: 12px;
line-height:1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;


}

.form-input {position: relative;
}

.mod-input {width: 100%;
    border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        height: 40px;
        background-color: transparent;
padding-left: 38px;
outline: transparent;
transition:border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mod-input:focus {
    border-color: #4d5ae5;
}

.form-icon {position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mod-input:focus+.form-icon {
    fill: #4d5ae5;
}


.form-comment { width: 100%;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    height: 120px;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    resize: none;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-comment:focus {
    border-color: #4d5ae5;

}

.form-field.comment {
    margin-bottom: 16px;
}

.form-comment::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.privacy { margin-bottom: 24px;
}


.check-text {  font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    align-items: center;
    gap: 8px;
}

.check-span { transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-check:checked+.check-text span {
    background-color: #404BBF;
    border: none;
    fill: #f4f4fd;
}
.check-text span{
    width: 16px;
    height: 16px;
border-radius: 2px;
border: 1px solid rgba(46, 47, 66, 0.4);
display: inline-flex;
align-items: center;
justify-content: center;
fill: transparent;
}


.link-privacy {   line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}


.submit-button {display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    border-radius: 4px;
    padding: 16px 32px;
    display: block;
    min-width: 169px;
    height: 56px;
    background-color: #4d5ae5;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        text-align: center;
        color: #fff;
        margin: auto;
        margin-top: 28px;
        cursor: pointer;
        border: none;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }


.submit-button:hover,
.submit-button:focus {
    background-color: #404bbf;

}




/* 88888888888888888888888888888888888888888888888888888888888888888 */



@media screen and (min-width: 768px) {
    
    .container {
    width: 768px;
    }

@media screen and (-webkit-min-devise-pixel-ratio: 2),
(min-resolution: 2dppx),
(min-resolution: 192dpi) {
    .logo-title {
background-image: linear-gradient(rgba(46, 47, 66, 0.7),
rgba(46, 47, 66, 0.7)),
url(../images/peoplx2.jpg);
}
}
/* ---------------------------- */
    .open-menu-btn {
        display: none;
    }
    .menu-open-btn{display: none;}
    .weblog {
margin-right: 120px;
        }

        .menu {
    display: flex;
    gap: 40px;
}

.hewn {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;

display: block;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hewn:hover,
.hewn:focus {
    color: #404bbf;
}

.studio {
position: relative;
color: #404bbf;
}

.studio::after {
content: "";
position: absolute;
left: 0;
bottom: -1px;
background: #404bbf;
border-radius: 2px;
width: 100%;
height: 4px;
}

.ad-nav {
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

/* .address-list {
    display: flex;
    gap: 40px;
} */

.contact{font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;}

.addr {
    display: flex;
    flex-direction: column;
    gap: 12px;

}

.contact-li {
    /* font-size: 16px; */
    font-size: 12px;
    /* line-height: 1.5; */
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: #434455;
    display: flex;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-li:hover,
.contact-li:focus {
    color: #404bbf;
}
/* ------------------------------- */
/* ----------------1------------ */
.logo-title {
    max-width: 768px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/peoplx1.jpg);
    padding-top:112px;
    padding-bottom: 112px;


}

.list-title-b {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;


}




/* --------------------- */
/* ----------------2--------- */
.features > .container {
    
}

.main-skills  {
    /* display: none; */
}

.family{max-width: 564px;
}

.main-all {
    gap: 72px 24px;
}

.features-list {
    width: calc((100% - 24px) /2);
}
/* --------------- */
/* ----------------3---------- */


.all-team {
flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
    justify-content: center;
}

.photo-team {

} 

/* -------------------- */
/* -----------4-------- */

.coll {
flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
    justify-content: center;
}

.image-job {
    width: 100%;
}

.photo-job{
width: 356px;
}
/* ------------------ */
/* ------Footer-------- */
.logo-footer {
    padding-top: 96px;
        padding-bottom: 96px;
}
.footer-box {
flex-direction: row;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    justify-content: unset;
    width: 584px;
    gap: 72px 24px;
}


.front {
        display: flex;
            justify-content: start;

}
.social-title {align-items:self-start;
    text-align: left;
}

.text-foot {text-align: left;
    
}

.footer-input {
flex-direction: column;
    justify-content: center;
    align-items: self-start;
}

.footer-form {
    display: flex;
    flex-direction: row;
}

.footer-text{text-align: left;

}




}











@media screen and (min-width: 1158px) {
    .container {
        width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }

@media screen and (-webkit-min-devise-pixel-ratio: 2),
(min-resolution: 2dppx),
(min-resolution: 192dpi) {
.logo-title {
background-image: linear-gradient(rgba(46, 47, 66, 0.7),
rgba(46, 47, 66, 0.7)),
url(../images/peox2.jpg);
}
}
/* ------------------- */


.addr{display: flex;
flex-direction: row;

}

        .weblog{
            margin-right: 76px;
        }

        .hewn {
            flex-direction: row;
                gap: 40px;
        }

        .hewn {
            font-size: 16px;
            line-height: 1.5;
        }
/* ------------- */
/* ----------------1------------ */
.logo-title {
max-width: 1440px;
background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/peo.jpg);
        /* padding-top: 188px;
    padding-bottom: 188px; */
}
.list-title-b {
    font-size: 56px;
        line-height: 1.07;
                max-width: 496px;
}
.button-a {
    margin-top: 36px;
}


/* --------------------- */
/* ------------2-------- */


.main-skills {
padding-top: 120px;
padding-bottom: 120px; 
}

.main-all {
    display: flex;
    flex-wrap: wrap;
        gap: 24px;
}

.features-list {
width: calc((100% - 72px) /4);
}

.icon-features {
    display: flex;
    align-items: center;
        justify-content: center;
        height: 112px;
        background: #f4f4fd;
        border-radius: 4px;
        border: 1px solid #8e8f99;
        margin-bottom: 8px;
}

.icon-features-item {
width: 264px;  
} 

.features-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
max-width: 264px;
}

.p-text-f{
font-weight: 400;
max-width: 264px;
}

/* ------------ */
/* --------------3------------- */

.photo-team{flex-basis: calc((100% - 3 * 24px) / 4); 


}
.all-team {
display: flex;
    gap: 24px;
    padding-left: 0;
    margin: 0;
}

.team {
padding-top: 120px;
padding-bottom: 120px; 
}
/* ----------- */
/* -------------4------------ */

.job {
padding-top: 120px;
padding-bottom: 120px; 
}


/* -------------------- */
/* -----------Footer------ */
.footer-box {
        width: 1158px;
        padding-left: 15px;
        padding-right: 15px; 
    display: flex;
        align-items: baseline;
        flex-wrap: nowrap;
        gap: unset;
}

.footer-ap  {
        margin-left: 120px;
}

.footer-input {
    margin-left: 80px;
        min-width: 453px;
        height: 80px;
}



.front {
            display: flex;
                justify-content: start;
}

.footer-text {
    max-width: 264px;
}

.social-list{
display: flex;
gap: 16px; 
}

.icon-footer {
    margin-bottom: 32px;
}

.footer-input{
    /* margin-left: auto; */
}

.footer-form {display: flex;
    gap: 24px;
}

.foot-input {
    width: 264px;
}

.foot-input::placeholder {
    padding-left: 16px;
} 

/* ----------------- */
}